;;all figwheel-main.edn configurations ?
^{;; :auto-bundle will set the Clojurescript compile options :target and :bundle-cmd  
  ;; Using :webpack this will set :bundle-cmd to:
  ;; {:none ["npx" "webpack" "--mode=development" :output-to "-o" :final-output-to]
  ;; :default ["npx" "webpack" :output-to "-o" :final-output-to]}
  ;; See https://figwheel.org/config-options#auto-bundle, 
  ;; https://clojurescript.org/guides/webpack, 
  ;; https://clojurescript.org/reference/compiler-options
  ;; https://clojure.org/reference/clojure_cli

  ;; Use clj --help  to see all clojure cli options

  ;; Use clj -M -m cljs.main --help to see all cljs compiler options

  ;; Use clojure -M -m figwheel.main --help to see all figwheel-main options


  ;; 'clj' and 'clojure' differ in that 'clj' has extra support for use as a REPL
  ;; in a terminal, and should be preferred unless you don't want that support,
  ;; then use 'clojure'

  :auto-bundle :webpack
  :open-url false
  :log-file "figwheel-main.log"
  :log-level :all
  :bundle-freq  :smart ;;:always
  :css-dirs ["resources/public/css"]
  :clean-outputs true
  ;;:final-output-to "resources/public/cljs-out/main_bundle.js"
  ;;:output-dir "target/public/cljs-out/dev" 
  }
;;all clojurescript compiler options  
{:main onekeepass.frontend.core
 :aot-cache false ;; see figwheel doc
 ;;:bundle-freq  :smart ;;:always
 ;;:rename-prefix "okp"
 :pseudo-names true
 :pretty-print true}