{:linters
 {:unused-namespace {:exclude [".*@mui/.*"]}
  :unresolved-symbol {:exclude [AppBar
                                Alert
                                AlertTitle
                                Accordion
                                AccordionSummary
                                AccordionDetails
                                AccountBalanceOutlined
                                Autocomplete
                                Autorenew
                                Avatar
                                Button
                                Backdrop
                                CssBaseline
                                CircularProgress
                                Checkbox
                                Chip
                                Container
                                ClickAwayListener
                                DesktopDatePicker
                                Dialog
                                DialogActions
                                DialogContent
                                DialogContentText
                                DialogTitle
                                Divider
                                Fingerprint
                                FormControlLabel
                                FormGroup
                                FormControl
                                FormHelperText
                                Grid
                                Icon
                                IconButton
                                InputAdornment
                                InputLabel
                                Input
                                Link
                                LinearProgress
                                List
                                ListItem
                                ListItemButton
                                ListItemText
                                ListItemAvatar
                                ListItemIcon
                                ListItemSecondaryAction
                                ListSubheader
                                Menu
                                MenuItem
                                Paper
                                Popper
                                Slider
                                Stack
                                Snackbar
                                SnackbarContent
                                Switch
                                Select
                                SvgIcon
                                Tabs
                                Tab
                                TextField
                                Toolbar
                                Tooltip
                                Typography

                                ArrowDropUpOutlined
                                ArrowDropDownOutlined
                                KeyboardArrowDownOutlined
                                KeyboardArrowUpOutlined
                                ArrowUpwardOutlined
                                ArrowDownwardOutlined
                                NavigateNextOutlined
                                Save
                                SaveAs
                                SaveAsOutlined
                                SellOutlined
                                AccessTime
                                ArrowDropDown
                                ArrowRight
                                AccountBalanceOutlined
                                CancelPresentation
                                CancelPresentationSharp
                                CancelPresentationOutlined
                                Check
                                ClearOutlined
                                CloseOutlined
                                CreditCardOutlined
                                DeleteOutline
                                DoneAll
                                EditOutlined
                                Folder
                                FolderOutlined
                                FavoriteBorder
                                FeedOutlined
                                FlightTakeoffOutlined
                                Launch
                                LoginOutlined
                                LockOpenOutlined
                                LockOutlined
                                PostAddOutlined
                                Search
                                SettingsOutlined
                                SecurityOutlined
                                VpnKeyOutlined
                                AccountBalance
                                FileCopyOutlined
                                VisibilityOff
                                Visibility
                                AddCircleOutlineOutlined
                                MoreVert
                                ExpandMore
                                ChevronRight
                                MoreHoriz
                                GroupWorkOutlined
                                WifiOutlined
                                TreeItem
                                TreeView
                                DateTimePicker
                                ArticleOutlined
                                PreviewOutlined
                                LocalizationProvider

                                ;; Dialogs related
                                merge-result-dialog
                                move-group-or-entry-dialog
                                clone-entry-options-dialog
                                csv-columns-mapping-dialog
                                data
                                on-ok
                                show
                                show-with-state
                                state-m
                                update-with-map
                                set-api-error 
                                error

                                ;; Translations related
                                entryForm
                                cloneEntryTitleName
                                discard
                                confirmDiscard
                                yesOverwrite
                                confirmOverwrite
                                doNotSave
                                quit
                                save
                                unsavedChanges
                                databaseChanged
                                discardClose
                                overwrite
                                conflictOnSave
                                passwordConfirm
                                parallelism
                                noCredentialSet
                                memory
                                iterations
                                databaseName
                                databaseSettings
                                appSettings
                                applicationSettings
                                requiresApplicationRestart
                                sessionTimeout
                                quickUnlock
                                databaseLocked
                                groupOrCategory
                                entryTypeFields
                                restore
                                delete
                                deleteAttachment
                                entryDeletePermanent
                                protected
                                noEntrySelected
                                backToEntry
                                foundHistoryEntries
                                deleteAll
                                previousVersions
                                deleteAllHistories
                                deleteHistory
                                restoreEntry
                                create
                                newEntrType
                                entryTypeName
                                entryType
                                deleteSectionAndField
                                deleteField
                                fieldName
                                customDate
                                noExpiry
                                expiryDate
                                expiryDuration
                                above8
                                length0
                                oneKindCharaterRequired
                                veryDangerous
                                dangerous
                                copyClose
                                copiedToClipboard
                                success
                                password
                                symbols
                                numbers
                                lowerCaseAZ
                                upperCaseAZ
                                length
                                passwordGenerator
                                passwordIsChanged
                                passwordWillBeChanged
                                databaseSettingsChange
                                keyFileWillBeChanged
                                keyFileWillBeRemoved
                                keyFileWillBeUsed
                                generateNewKeyFile
                                databaseCredentials
                                databaseFile
                                addPassword
                                passwordNotUsed
                                changePassword
                                removePassword
                                general
                                credentials
                                keyFileNotUsed
                                addKeyFile
                                changeKeyFile
                                removeKeyFile
                                databaseSettings
                                memoryUsage
                                deletePermanent
                                selectAValidGroup
                                group
                                selectAGroup
                                putBack
                                info
                                addGroup
                                groupDeletePermanent
                                emptyRecycleBin
                                creationTime
                                lastModificationTime
                                setUpTOPT
                                addField
                                edit
                                favorites
                                delete
                                history
                                performAutoType
                                editAutoType
                                close
                                otpDelete
                                otpSetup
                                yes
                                no
                                ok
                                title
                                modifiedTime
                                createdTime
                                addEntry
                                addCategory
                                fileName
                                browse
                                cancel
                                encriptionAlgorithm
                                generate
                                next
                                previous
                                transformRounds
                                remove
                                keyFileName

                                basicDatabaseInformation
                                dbDisplayName
                                description
                                passwordForYourDb
                                confirmPassword
                                addAdditionalProtection
                                kdf
                                hideAdditionalProtection
                                getStarted
                                openDatabase
                                newDatabase
                                recent
                                start
                                saveAs
                                security
                                newDbPage
                                openDbPage
                                txt1
                                txt2
                                txt3
                                txt4
                                txt5]}

  :unresolved-var {:exclude [onekeepass.frontend.mui-components
                             onekeepass.frontend.background/go
                             onekeepass.frontend.events.generic-dialogs]}


  ;;Following is not working 
  ;; :unused-import {:exclude [camel-snake-kebab.core]}
  }

 :skip-comments true}